<!DOCTYPE html>
<html>
<head>
<meta charset="BIG5">
<title>Login</title>
</head>
<body>

<h1>Login Page</h1>
<h2>Login1</h2>
<form action="/submission" method="get">
	Name: <input type="text" name="user" /><br/>
	Password: <input type="text" name="pass" /><br/><br/>

	<input type="submit" value="Login">
</form>
<br/><br/>
<h2>Login2</h2>
<form action="/submission" method="get">
	Name: <input type="text" name="user" /><br/>
	Password: <input type="text" name="pass" /><br/>
	Id: <input type="text" name="id" /><br/><br/>
	<input type="submit" value="Login">
</form>

</body>
</html>